@font-face {
    font-family: 'Neue Hans Kendrick Regular';
    src: local('Neue Hans Kendrick Regular'), url(/css/NeueHansKendrick-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Neue Hans Kendrick Medium';
    src: local('Neue Hans Kendrick Medium'), url(/css/hanskendrick-medium-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Neue Hans Kendrick Heavy';
    src: local('Neue Hans Kendrick Heavy'), url(/css/hanskendrick-heavy-webfont.woff) format('woff');
}
body {
    background-color: #E2E7EC;
    max-width: 1600px;
    height: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
p {
    font-family: 'Neue Hans Kendrick Medium';
    color: #94928D;
    width: 360px;
}
.col-8 h1 {
    display: flex;
    padding-right: 300px;
    margin-left: 30px;
    margin-top: 20px;
    color: #FFFFFF;
}
.col-8 p {
    font-family: 'Neue Hans Kendrick Medium';
    color: #94928D;
    margin-left: 30px;
    margin-top: -130px;

}
.col-12 {
    display: flex;
    flex-grow: 1;
    max-width: 1120px;
    margin: 0;
    padding: 0;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 100%;
    height: auto;
}
img:last-child {
    width: 15%;
    padding-left: 25px;
    margin-top: 15px;
}
.col-8 {
    box-sizing: border-box;
    width: 740px;
    height: 540px;
    margin: 0 5px;
}
.col-4 {
    background-color: #FFFFFF;
    width: 360px;
    height: 540px;
    margin: 0 3px;
}
.col-4 h3 {
    font-family: 'Lalezar', cursive;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: left;
    padding: 0 25px;
    margin-top: 70px;
}
.col-4 p {
    margin-top: 30px;
    padding: 0 25px;
}
.first {
    flex: 2;
    flex-basis: 60%;
}
.second {
    flex: 1;
    flex-basis: 30%;
}
.third {
    flex: 1;
    flex-basis: 30%;
}
.fourth {
    flex: 1;
    flex-basis: 30%;
}
.fourth h3 {
    margin-top: 100px;
    padding: 0 25px;
}
.fifth {
    flex: 1;
    flex-basis: 30%;
}