body {
    background-color: #E2E7EC;
}
.workspace {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1400px;
}
.rowfirst {
    display: flex;
    margin: 90px 0px 20px 0px;
}
.first_table {
    display: block;
    flex-grow: 1;
    position: relative;
}
.first_table .item__text {
    position: absolute;
    z-index: 1;
    top: 407px;
    left: 47px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 70px;
}
.next_tables {
    position: relative;
    width: 100%;
    height: 540px;
    background-color: #fff;
}
.next_tables .item__text {
    display: flex;
    flex-direction: column;
    font-family: 'hans-heavy';
    text-transform: uppercase;
    padding: 30px;
}
.author {
    position: absolute;
    top: 461px;
    left: 28px;
}
.item__text h1, h3{
    display: flex;
    flex-direction: column;
    font-family: 'hans-heavy', sans-serif;
    text-transform: uppercase;
}
.item__text p{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #929292;
    font-family: 'hans-medium', sans-serif;
    text-transform: uppercase;
}
.item__text_diff {
    position: absolute;
    top: 295px;
}